@import "variables";
@import "bootstrap";
@import "compass/css3";
@import "compass/css3/border-radius";

@import "_flipclock";

// Colours
$theme1: rgba(0, 0, 0, 0.498039);
$theme-bg: #66ff00;
$darkgrey: rgb(48, 48, 48);
$btn-blue: rgb(51, 122, 183);
$number-box-bg: #eee;
$box-border: #ff8300;

#logo-virus {
	width: 100px;
	position: absolute;
	left: 80%;
	top:5%;
}

/* Center horizontally and vertically */
html, body {
	height: 100%;
	color:$theme1;
	background-color: $darkgrey;
}
.container {
	padding: 2% 3% 2% 3%;
	background-color: $darkgrey;
	display: table;
	vertical-align: middle;
}
.vertical-center-row {
	display: table-cell;
	vertical-align: middle;
}
/* /Center horizontally and vertically */

@mixin gysborder() {
	@include border-radius(1px 3px 5px 7px, 2px 4px 6px 8px);
	border: 4px solid $box-border;
}

.mybox {
	@include border-radius(2px 5px, 3px 6px);
	background-color:$theme-bg;
	margin-bottom: 10px;
	padding: 10px;
}


#countdown {
	h1 {
		text-align:center;
		margin:0 autp;
		font-size:3.5em;
		font-weight:bold;
		color:black;
	}
}

#autism {

	div.statbox {
		@include gysborder();
		background-color:white;
		font-size: 1.5rem;
		text-align:center;
		>div {
			width:100%;
		}
	}

	.number-stat {
		display:inline-block;
		background-color:$number-box-bg;
		font-size:1.1em;
		color:$theme1;
		@include border-radius(2px 5px, 3px 6px);
		width: 30px;
		text-align:center
	}

	.hindcast, .forecast {
		display:inline;
		height:40px;
	}
	.hindcast {
	}
	.forecast {
	}
	p.source {
		margin-top:15px;
	}
}

/* Flipclock */
.clock {
	position: relative !important;
	padding-top: 0px;
	//margin-left: -194px;

	height:100px;
	width: 470px;

	/*zoom: .6;*/ 
	transform: scale(.64);
	-ms-transform: scale(.64); /* IE 9 /
	-webkit-transform: scale(.54); / Safari and Chrome /
	-o-transform: scale(.54); / Opera /
	-moz-transform: scale(.54); / Firefox */
}


.flip-clock-wrapper {
	/* ... In the flipclock.css file I think you may need to have this on... */
	position: relative; 
	margin:0 auto;
	font-size: 2em;
}

@media (max-width: 768px) {
	.flip-clock-wrapper {
		margin-left: -75px;
	}
}
/* /Flipclock */

/* Center charts */
.chart_div-container {
	display:block;
	height:430px;
	@include gysborder();
	background-color:white;
	margin: 0 auto;
	width:100%;

	position:relative;

	//.number-stat {
	.hindcast, .forecast {
		position: absolute;
		bottom: 200px;
		color: black;
		font-size:2em;
		text-align:center;
		height: 3rem;
		text-align:center;
	}
	.hindcast {
		//left: 20%;
	}
	.forecast {
		//right: 20%;
	}
}

h2 {
	color:$theme1;
}
h3.big {
	font-size: 3em;
	text-align:center;
	margin-top:10px;
}

/* Center charts */

.btn-huge {
	height: 200px;
	font-size:4em;
	@include gysborder();
	background-color: $btn-blue;
	color:white;
}
